.carte-vin {
    display: flex;
    align-items: center;
    margin: 1em;
    padding:1em;
    border: 1px solid #7e0000;
    border-radius: 10px;
    width: 750px;
    height: 200px;
    background-color:#f7f7f7;
}
.carte-vin a {
    color: black;
    text-decoration: none;
}
.carte-vin picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1em;
}
.carte-vin picture img{
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Maintain the aspect ratio of the image */
    object-fit: contain;
}
.carte-vin section {
    flex-grow: 1;
    max-width: 500px
}
.carte-vin section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carte-vin h1 {
    font-size: 2em;
}
.carte-vin button {
    background-color: #2137b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
}