dialog:not(.modalePage) {
    border: none;
    background-color: var(--light-brown);
    border-radius: 10px;
    min-width: 250px;
    margin-left: var(--back-to-card-margin);
    margin-right: var(--back-to-card-margin);
    z-index: 1;
}

dialog:not(.modalePage) {
    background-color: var(--light-brown);
    border-radius: 10px;
    min-width: 250px;
    z-index: 1;
}

dialog {
    border: 2px solid var(--dark-brown);
}

.tris-modale ul {
    position: absolute;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tris-modale ul {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* max-width: 240px; */
    width: 240px;
    padding: 10px 0 10px 0;
    margin-inline: auto;
    text-align: center;
    background-color: var(--light-brown);
    gap: 15px;
}

.tris-modale li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "MabryPro";
    font-size: 20px;
    color: white;
    background-color: var(--dark-brown);
    border-radius: 10px;
    width: 80%;
}

.tris-modale li > span {
    margin-left: 5px;
}

.tris-modale p {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-brown);
}

dialog :is(input, button, span, select) {
    color: #848484;
}

dialog button {
    width: 40%;
    border-radius: 10px;
    padding-block: 10px;
    margin-block: 7px;
    cursor: pointer;
    color: white;
    font-size: 1.15em;
}

.ajoutCellier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ajoutCellier h2,
.confirmerDel h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: white;
    margin-bottom: 15px;
    margin-top: 0px;
}

.ajoutCellier button,
.ajoutCellier .confirmerDel {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: var(--dark-brown);
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: auto;
    width: fit-content;

    font-family: "Mabry Pro";
    font-size: 16px;
}

.ajoutCellier button img {
    width: 20px;
}

.confirmerDel {
    border: solid 4px var(--vivid-red) !important;
}

.confirmerDel p {
    color: black;
    font-size: 16px;
    font-family: "MabryPro";
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.confirmerDel > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.confirmerDel > div > button:nth-of-type(2) {
    background-color: var(--dark-brown);
    color: white;
}

.confirmerDel .profilSupprimergs,
.confirmerDel .cancel-button {
    margin: 0;
}

.profilSupprimergs span,
.cancel-button span {
    color: white;
}
/* dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
} */

dialog p {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-brown);
}
dialog :is(input, button, span, select){
    color: #848484;
}

dialog button {
    width: 40%;
    border-radius: 10px;
    /* padding-block: 10px; */
    /* margin-block: 7px; */
    cursor: pointer;
    color: white;
    font-size: 1.15em;
}

.boutonCellier-add,
.boutonCellier-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    font-family: "Mabry Pro";
    font-size: 22px;

    width: fit-content;
    /* padding-left: 10px;
    padding-right: 10px */
    padding: 10px 20px;
}

.boutonCellier-add .material-symbols-outlined,
.boutonCellier-cancel .material-symbols-outlined {
    color: white;
    font-size: 26px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}

.boutonCellier-cancel {
    background-color: var(--vivid-red);
}

.boutonCellier-add {
    background-color: var(--vivid-green);
}

dialog input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--dark-brown);
    padding: 10px;
    margin-block: 7px;
    padding: 0;
    height: 30px;
    font-size: 1.15em;
}
dialog input::placeholder {
    padding: 10px;
}

dialog label {
    font-size: 1.15em;
    font-weight: bold;
    color: var(--dark-brown);
}

.modaleActions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 5px; */
    gap: 5px;
}

.quantity-input{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    width: 100%;
}

.quantity-input label {
    font-size: 26px;
}

.quantity-input>input{
    height: min-content;
    width: min-content;
}
.quantity-input>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.plusMinus span{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--dark-brown);
    border-radius: 5px;
    padding: 15px;
}

.plusMinus input{
    text-align: center;
    appearance: textfield;
    height: 77px;
    width: 3ch;
    font-size: 36px !important;
    font-family: 'MabryPro';
}

/* .plusMinus {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.minus-btn > img,
.plus-btn > img {
    width: 50px;
}

.minus-btn,
.plus-btn {
    height: 50px;
}

.minus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.plusMinus {
    display: flex;
    gap: 25px; 
    align-items: center; 
    justify-content: center;
}

.minus-btn,
.plus-btn {
    width: 50px; /* Set a fixed width for consistency */
    height: 50px;
}

.minus-btn > img,
.plus-btn > img {
    width: 100%; /* Make the images fill their parent container */
    height: auto; /* Maintain aspect ratio */
}

.minus-btn,
.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour la boîte modale */
.modalePage {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.formulairePage {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: var(--light-brown);
    padding: 10px;
    /* border: 1px solid #888; */
    border-radius: 10px;
    width: 80%;
}

.formulairePage select {
    display: flex;
    justify-content: center;
}

.formulairePage > div > h2,
.formulairePage > div > p {
    padding-top: 10px;
    padding: 5px;
    margin: 0;
    color: var(--dark-brown);
}

.formulairePage > div > h2 {
    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    font-size: 26px;
}

.formulairePage > div > p {
    font-family: "Mabry Pro";
    font-size: 18px;
}

.separation-modal {
    height: 2px;
    width: 50%;
    background-color: white;
    border-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* .label-quantite {
    margin: 20px;
} */

.cellar-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.cellar-group > div:first-of-type {
    width: 40%;
}

.cellar-group > div:nth-of-type(2) {
    width: 100%;
}

.cellar-input {
    display: flex;
    justify-content: center;
    margin: auto;
}

.cellar-input label {
    font-size: 26px;
}

.cellar-input > select {
    width: 85%;
    background-color: var(--dark-brown);
    border: none;
    border-radius: 5px;
    outline: none; 
    appearance: none; 
    -webkit-appearance: none; /* For Safari */
    padding: 1rem; 
    color: white; 
    font-size: 22px;
}

/* .changerQteBout>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.changerQteBout>form>div{
    display: flex;
    gap: 20px;
} */

.changerQteBout span{
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--dark-brown);
    border-radius: 10px;
    padding: 10px;
}

.changerQteBout>form .inputQuantite{
    border: none;
    outline: none;
    appearance: textfield;
    width: 3ch;
}
/* liste d'achat */

.form-liste-achat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--light-brown);
    gap: 10px;
    margin: auto;
    width: 78%;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 76%;
}

.form-liste-achat h2,
.form-liste-achat button {
    font-family: 'Bonobo', 'GelicaLight', sans-serif;
    margin: 0;
}

.form-liste-achat h2 {
    font-size: 18px;
    color: white;
}

.form-liste-achat button {
    font-size: 28px;
    color: var(--dark-brown);
    text-decoration: underline;
    width: fit-content;
    background-color: var(--light-brown);
    
}

/* ================= MEDIA ================= */

@media (max-width: 385px) {
    .boutonCellier-add, .boutonCellier-cancel {
        font-size: 18px;
    }

    .boutonCellier-add > span, 
    .boutonCellier-cancel > span {
        display: none;
    }

    .formulairePage {
        gap: 10px;
    }

    .formulairePage > div > h2 {
        font-size: 22px;
    }

    .minus-btn, .plus-btn {
        width: 30px;
        height: 30px;
    }

    .plusMinus input {
        height: 55px;
        width: 2.5ch;
    }

    .cellar-input > select {
        font-size: 16px;
        padding: 10px;
    }

    .formulairePage {
        top: 45%;
        gap: 5px;
    }

    .form-liste-achat h2 {
        font-size: 16px;
    }

    .cellar-group {
        gap: 10px;
    }
    .form-liste-achat {
        gap: 0;
    }
}