/* =========== Barre de recherche =========== */
.rechercheConteneur {
    position: sticky; /* Set the position to sticky */
    top: 0; /* Stick the element at the top of the container */
    z-index: 1;
    margin-inline: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    background-color: var(--light-brown);
}

.rechercheInput {   
    min-width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--dark-brown);
    padding-left: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-brown);
}
.rechercheInput::placeholder {
    color: var(--dark-brown);
}
.rechercheSubmit {
    min-width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding-block: 0.5em;
    background-color: var(--dark-brown);
    cursor: pointer;
}